**/arquivos/
**/__pycache__/
temp-plot.html
error.log
debug.log
dimensionamento.py
tkinterTestes.py
**/build/
**/dist/
tests.py
auxiliadoresAnalise/DadosParaRadiasol
auxiliadoresAnalise/SaidaRadiasol

